YONTAI_ENV=development
YONTAI_HOST=127.0.0.1
YONTAI_PORT=8765
YONTAI_DATABASE_URL=sqlite:///./yontai.db
YONTAI_APP_DATA_DIR=../../
YONTAI_MLFLOW_TRACKING_DIR=../../runs/mlflow
YONTAI_OLLAMA_HOST=http://127.0.0.1:11434
